---
title: DidItBetter.com Software
---
<% data.site.products.each do |product| %>
<article>
  <div class="row">
    <div class="large-7 columns">
      <h3 id="<%= product.id %>"><a href="<%= product.url %>"><%= product.name %></a></h3>
      <p><%= product.descriptions[0] %></p>
    </div>
    <div class="large-5 columns text-center">
      <a href="<%= product.url %>"><img class="add-bottom" src="//img.diditbetter.com/<%= product.image %>" /></a>
      <a class="button small" href="<%= product.url %>"><%= product.name %> Guide</a>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <% product.descriptions[1..-1].each do |description| %>
      <p><%= description %></p>
      <% end %>
    </div>
  </div>
</article>
<hr />
<% end %>
